<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apprenda.API.Extension" version="6.8.0" targetFramework="net452" />
  <package id="Apprenda.API.Guest" version="7.0.0" targetFramework="net452" />
  <package id="Apprenda.AutoMapper" version="1.1.0.188" targetFramework="net452" />
  <package id="Apprenda.Caching" version="7.0.0" targetFramework="net452" />
  <package id="Apprenda.Kernel.API" version="7.0.0" targetFramework="net452" />
  <package id="Apprenda.Kernel.Contracts" version="11.1.0" targetFramework="net452" />
  <package id="Apprenda.Platform" version="3.0.0" targetFramework="net452" />
  <package id="Apprenda.Platform.API" version="9.0.1" targetFramework="net452" />
  <package id="Apprenda.Pri.LongPath" version="1.2.2" targetFramework="net452" />
  <package id="Apprenda.SecretManagement" version="1.4.2" targetFramework="net452" />
  <package id="Apprenda.Serialization" version="6.6.0" targetFramework="net452" />
  <package id="Apprenda.Spring.Core" version="1.1.2.20125" targetFramework="net452" />
  <package id="Apprenda.Utils" version="7.0.1" targetFramework="net452" />
  <package id="Apprenda.WorkloadManagement.Clients" version="7.1.0" targetFramework="net452" />
  <package id="Apprenda.ZooKeeperNet" version="3.3.4.7" targetFramework="net452" />
  <package id="log4net" version="1.2.10" targetFramework="net452" />
  <package id="Nostro.Curator.Client" version="6.6.0" targetFramework="net452" />
  <package id="RestSharp" version="106.1.0" targetFramework="net452" />
  <package id="SaaSGrid.API" version="7.1.1" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net452" />
</packages>